<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063453965988-obi0ojll2dcehptk6i49ia51eslbboqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063453965988-obi0ojll2dcehptk6i49ia51eslbboqo</string>
	<key>API_KEY</key>
	<string>AIzaSyBTj7WEd-bKCKT7Ar1p3NCD6Pg7rG_BFpM</string>
	<key>GCM_SENDER_ID</key>
	<string>1063453965988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>varleyParker.LemonCheck</string>
	<key>PROJECT_ID</key>
	<string>lemoncheck-35cc5</string>
	<key>STORAGE_BUCKET</key>
	<string>lemoncheck-35cc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063453965988:ios:01ff81964a959b93ed7031</string>
	<key>DATABASE_URL</key>
	<string>https://lemoncheck-35cc5.firebaseio.com</string>
</dict>
</plist>